body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-top: 0; /* sol */
  margin-bottom: 8px; /* sol */
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  /* margin: 8px auto; which i tried */
  margin-bottom: 8px; /* sol*/
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  display: block;
  /* margin: auto; which i tried */
  margin: 0 auto; /* sol */
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
}